@charset "UTF-8";

@font-face {
  font-family: 'Vazir';
  src: url('./assets/fonts/Vazir.eot');
  src: local('./assets/fonts/Vazir'), url('./assets/fonts/Vazir.woff') format('woff'), url('./assets/fonts/Vazir.ttf') format('truetype');
}

body {
  margin: 0;
  direction: rtl;  
  font-family: 'Vazir';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
